.banner {
  width: 100%;
  aspect-ratio: 16 / 4;
  background-image: linear-gradient(
      to right,
      rgba(#242424, 0.75),
      rgba(#242424, 0.75)
    ),
    url('../../../assets/cricket_stadium.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &__inner {
    width: max-content;
    height: 100px;
  }
}
